build
out
cmake-build-debug
dist

.idea
.vscode
.vs

venv
node_modules
__pycache__

# MS and Libre office backup
.~*

# Powerdesigner backupfiles
*.oob
*.eab
*.rqb
*.pjb
/CS230/CS230-V02-Hello/nbproject/private/
/CS230/CS230-V02/nbproject/private/
/CS230/CS230-DZ02-3860-JovanVujovic/nbproject/private/
/CS230/JSPDemo/nbproject/private/
/CS230/ObradaImena/nbproject/private/
/CS230/JSPForm/nbproject/private/
/CS230/JSPVezba03/nbproject/private/
/CS230/CS230-DZ03-3860-JovanVujovic/nbproject/private/
/CS230/JSPCookieDemo/nbproject/private/
/CS230/JSPUploadDemo/nbproject/private/
/CS230/JSPOtpremanjeDatoteka/nbproject/private/
/CS230/JSPDatumDemo/nbproject/private/
/CS230/JSPBeanDemo/nbproject/private/
/CS230/CS230-V04/nbproject/private/
/CS230/CS230-DZ04-3860-JovanVujovic/nbproject/private/
/CS230/CS230-DZ05-3860-JovanVujovic/nbproject/private/
/CS230/CS230-V05/nbproject/private/
/CS230/CS230-V06/nbproject/private/
/CS230/CS230-DZ07-3860-JovanVujovic/nbproject/private/
/CS230/CS230-DZ08-3860-JovanVujovic/nbproject/private/
/CS230/CS230-DZ11-3860-JovanVujovic/nbproject/private/
/CS230/CS230-DZ12-3860-JovanVujovic/nbproject/private/
/CS230/CS230-DZ09-3860-JovanVujovic/nbproject/private/