<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/about">About</a>
            <li><a href="/contact">Contact</a>
        </ul>
    </div>
</nav>
<h1>Home</h1>


<div>
    <h2>Lorem ipsum</h2>
    <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore expedita fugiat odio,
    officia quam quo saepe veritatis? Beatae consequuntur deserunt dolore doloremque ea, harum provident quas quibusdam
    reiciendis tempore?</p>
</div>
