body{
    background-color: teal;
    color: white;
}

li,  h1, h4{
    color: black;
}

.display-4{
    color: white;
}

footer a{
    color: white !important;
}

.btn-primary{
    background-color: teal;
    border-color: teal;
}
.btn-outline-primary{
    color: teal;
    border-color: teal;
}
